@model OldOneWinDB.Models.ConnectionStrings
<div>
    <h2>Выберите район</h2>
    <form method="post" asp-controller="Home" asp-action="SelectYear" >
        
        <select asp-for="AreaName" asp-items='new SelectList(ViewBag.connStrs, "ConnectionString")' class="selectList"></select>

        <input type="submit" />
    </form>
</div>