@model OldOneWinDB.Models.SelectPeriodModel
<div>
    <h2>Выберите год</h2>
    <form method="post" asp-controller="Home" asp-action="FindForm">
        <div class="form-inline">
            <select asp-for="BeginYear" asp-items='new SelectList(ViewBag.Years)' class="selectList form-control"></select>
            <select asp-for="EndYear" asp-items='new SelectList(ViewBag.Years)' class="selectList form-control"></select>
            <input type="submit" class="btn btn-primary" />
            </div>
    </form>
</div>